<a href="https://colab.research.google.com/github/Fifth-marauder/Kaggle/blob/main/kaggle_May_Tabular_Series_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"anuvarshini98","key":"0c1621206d15c49de511192782db8fcc"}'}

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [3]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [4]:
!chmod 600 /root/.kaggle/kaggle.json
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              227KB  2021-04-30 20:52:11           4026
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           2314
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52            514
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            236
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   1GB  2021-02-18 10:08:27           1449
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19            816
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            555
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23            347
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39             83
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00            474
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            206
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            108
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26             39
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40             56
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54             47
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51             64
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         138011
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         135099
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          17369
rtatman/188-million-us-wildfires                            1.88 Million US Wildfires                         168MB  2020-05-12 21:03:49          15234

In [5]:
!kaggle competitions download -c tabular-playground-series-may-2021

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading test.csv.zip to /content
  0% 0.00/851k [00:00<?, ?B/s]
100% 851k/851k [00:00<00:00, 51.2MB/s]
Downloading train.csv.zip to /content
  0% 0.00/1.72M [00:00<?, ?B/s]
100% 1.72M/1.72M [00:00<00:00, 117MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/128k [00:00<?, ?B/s]
100% 128k/128k [00:00<00:00, 101MB/s]

In [6]:
import os
print(os.getcwd())

/content

In [7]:
import pandas as pd

In [8]:
# load training & test datasets
train = pd.read_csv("/content/train.csv.zip")
test = pd.read_csv("/content/test.csv.zip")

In [9]:
train.head()

   id  feature_0  feature_1  ...  feature_48  feature_49   target
0   0          0          0  ...           0           0  Class_2
1   1          0          0  ...           0           0  Class_1
2   2          0          0  ...           2           0  Class_1
3   3          0          0  ...           1           0  Class_4
4   4          0          0  ...           1           0  Class_2

[5 rows x 52 columns]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss,classification_report,confusion_matrix,accuracy_score
from sklearn.ensemble import GradientBoostingClassifier,RandomForestClassifier

In [11]:
X=train.iloc[:,1:-1]
y=train.target
print(X.head())
print(y.head())

   feature_0  feature_1  feature_2  ...  feature_47  feature_48  feature_49
0          0          0          1  ...           0           0           0
1          0          0          0  ...           0           0           0
2          0          0          0  ...          13           2           0
3          0          0          0  ...           0           1           0
4          0          0          0  ...           0           1           0

[5 rows x 50 columns]
0    Class_2
1    Class_1
2    Class_1
3    Class_4
4    Class_2
Name: target, dtype: object

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,stratify=y,random_state=1)
print(X_train.head)

<bound method NDFrame.head of        feature_0  feature_1  feature_2  ...  feature_47  feature_48  feature_49
79904          0          0          0  ...           0           1           0
78596          2          0          0  ...           0           4           1
54420          0          0          0  ...           3           2           0
9095           0          0          0  ...           0           0           0
24278          0          1          0  ...           0           1           0
...          ...        ...        ...  ...         ...         ...         ...
8734           0          1          0  ...           0           0           0
767            0          0          0  ...           0           0           0
30708          0          0          0  ...           0           0           0
19270          0          0          0  ...           0           3           0
53393          0          0          0  ...           5           0           0

[75000 rows x 50 columns]>

In [13]:
gb=GradientBoostingClassifier().fit(X_train,y_train)
rf=RandomForestClassifier().fit(X_train,y_train)

In [14]:
gb_pred = gb.predict(X_test)
rf_pred= rf.predict(X_test)

In [15]:
print(accuracy_score(y_test,gb_pred))
print(accuracy_score(y_test,rf_pred))

0.57688
0.57672

In [16]:
gb_sub=gb.predict_proba(test.iloc[:,1:])
gb_sub

array([[0.08645328, 0.60890292, 0.18600916, 0.11863464],
       [0.08755107, 0.60998848, 0.19882939, 0.10363106],
       [0.09502526, 0.61370385, 0.19354989, 0.097721  ],
       ...,
       [0.09086274, 0.53181447, 0.21277227, 0.16455052],
       [0.08718924, 0.5766547 , 0.18166348, 0.15449258],
       [0.08778936, 0.5721525 , 0.19495103, 0.14510712]])

In [17]:
rf_sub=rf.predict_proba(test.iloc[:,1:])
rf_sub

array([[0.03, 0.49, 0.31, 0.17],
       [0.1 , 0.59, 0.23, 0.08],
       [0.08, 0.6 , 0.19, 0.13],
       ...,
       [0.16, 0.55, 0.17, 0.12],
       [0.07, 0.67, 0.09, 0.17],
       [0.12, 0.57, 0.2 , 0.11]])

In [18]:
submission=(gb_sub+rf_sub)/2
submission

array([[0.05822664, 0.54945146, 0.24800458, 0.14431732],
       [0.09377554, 0.59999424, 0.21441469, 0.09181553],
       [0.08751263, 0.60685192, 0.19177495, 0.1138605 ],
       ...,
       [0.12543137, 0.54090723, 0.19138614, 0.14227526],
       [0.07859462, 0.62332735, 0.13583174, 0.16224629],
       [0.10389468, 0.57107625, 0.19747551, 0.12755356]])

In [19]:
sub_df=pd.DataFrame(submission,columns=['Class_1','Class_2','Class_3','Class_4'])
sub_df.head()

    Class_1   Class_2   Class_3   Class_4
0  0.058227  0.549451  0.248005  0.144317
1  0.093776  0.599994  0.214415  0.091816
2  0.087513  0.606852  0.191775  0.113860
3  0.087242  0.532761  0.263016  0.116981
4  0.057783  0.616016  0.223619  0.102583

In [20]:
sub_df.insert(0,'id',test['id'])
sub_df

           id   Class_1   Class_2   Class_3   Class_4
0      100000  0.058227  0.549451  0.248005  0.144317
1      100001  0.093776  0.599994  0.214415  0.091816
2      100002  0.087513  0.606852  0.191775  0.113860
3      100003  0.087242  0.532761  0.263016  0.116981
4      100004  0.057783  0.616016  0.223619  0.102583
...       ...       ...       ...       ...       ...
49995  149995  0.077270  0.682415  0.166009  0.074307
49996  149996  0.097236  0.651270  0.167632  0.083862
49997  149997  0.125431  0.540907  0.191386  0.142275
49998  149998  0.078595  0.623327  0.135832  0.162246
49999  149999  0.103895  0.571076  0.197476  0.127554

[50000 rows x 5 columns]

In [21]:
sub_df.to_csv('Submission.csv',index=0)

In [22]:
!kaggle competitions submit tabular-playground-series-may-2021 -f Submission.csv -m "Using Model blending"

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 4.06M/4.06M [00:00<00:00, 6.92MB/s]
Successfully submitted to Tabular Playground Series - May 2021